 @{
      Layout = "_Layout";
  }
  <h1>Welcome to your Vendor Management Dashboard, Pierre!</h1>
  <h3><a href="/vendor">View My Vendors</a></h3>
  <h4>Search for an Order:</h4>
  <form action="/order/search" method="get">
    <label for="title">Order Title:</label>
    <input type="text" name="title" id="title">
    <button type="submit">Search</button>
  </form>
  